@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

body,
.app {
    font: var(--font-s);
    color: var(--primary-color);
    font-weight: 300;
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.main-content {
    display: flex;
}

.page-wrapper {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    background-color: var(--bg-color);
    flex-grow: 1;
    padding: 20px;
    position: relative;
}
