.LoginForm {
    width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstInput,
.secondInput {
    width: 300px;
    background-color: transparent;
}

.secondInput {
    margin: 10px 0 auto;
}

.btn {
    white-space: nowrap;
    display: inline-block;
}

.error {
    color: var(--error-color);
    opacity: 0;
}
.errorActive {
    opacity: 1;
}
