.Button {
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    padding: 0;
    background: none;
    outline: none;
}

.outline,
.outline_purple {
    padding: 10px 15px;
    background: none;
}
.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.outline_purple {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.disabled {
    opacity: 0.5;
}
