:root {
    --bg-color: #C6C0D8;
    --inverted-bg-color: #242231;
    --primary-color: #8771D2;
    --secondary-color: #ABA4E5;
    --inverted-primary-color: #9883F0;
    --inverted-secondary-color: #9480C5;
}