.ErrorPage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font-l);
}

.PageInfo {
    display: flex;
    flex-direction: column;
}

.Btn {
    margin-top: 5px;
    background-color: var(--inverted-bg-color);
    border: 1px solid var(--inverted-bg-color);
    border-radius: 10px;
}

.BtnReload {
    margin: 3px 10px;
}

.SomeProblem {
    display: flex;
    justify-content: center;
}